{% extends "base.html" %}
{% block entete %}Gestion des cotisations{% endblock %}
{% block navbar %}
<ul>
	<li><a href="#first">Liste des cotisations</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="first" class="main">
	<header class="major">
		<h2>Liste des cotisations</h2>
	</header>
	{% if perms.preferences.add_cotisation %}
	<a class="button" href="{% url 'preferences:addCotisation' %}"><i class="fa fa-plus-square"></i> Créer une cotisation</a><br><br>
	{% endif %}
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Durée de cotisation</th>
					<th>Prix</th>
					<th>Pour PhœnixTM</th>
					<th>Administration</th>
				</tr>
			</thead>
			<tbody>
				{% for cotisation in cotisations %}
				<tr>
					<td>{{ cotisation.duration }} jour{{ cotisation.duration|pluralize }}</td>
					<td>{{ cotisation.amount }} €</td>
					<td>{{ cotisation.amount_ptm | default:0}} €</td>
					<td>{% if perms.preferences.change_cotisation %}<a class="button small" href="{% url 'preferences:editCotisation' cotisation.pk %}"><i class="fa fa-pencil-alt"></i> Modifier</a> {% endif %}{% if perms.preferences.delete_cotisation %}<a class="button small" href="{% url 'preferences:deleteCotisation' cotisation.pk %}"><i class="fa fa-trash"></i> Supprimer</a>{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
