{% extends 'base.html' %}
{% block entete %}Administration{% endblock %}
{% block navbar %}
<ul>
	<li><a href="#first">Message global</a></li>
	<li><a href="#second">Site actif</a></li>
	<li><a href="#third">Bureau</a></li>
	<li><a href="#fourth">Suivi de pintes</a></li>
	<li><a href="#fifth">Documents</a></li>
	<li><a href="#sixth">Autre</a></li>
</ul>
{% endblock %}

{% block content %}
<form class="main" method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<section id="first" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>Message global</h2>
				</header>
				<div class="row">
					<div class="12u">
						{{form.global_message}}
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<button type="submit"><i class="fa fa-save"></i> Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="second" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>Site actif</h2>
				</header>
				<div class="row uniform">
					<div class="12u">
						{{form.is_active}}
						<label for="{{form.is_active.id_for_label}}">Site actif ?</label>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						{{form.active_message}}
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<button type="submit"><i class="fa fa-save"></i> Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="third" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>Bureau</h2>
				</header>
				<div class="row uniform">
					<div class="6u">
						{{form.president}}
					</div>
					<div class="6u">
						{{form.vice_president}}
					</div>
				</div>
				<div class="row uniform">
					<div class="6u">
						{{form.secretary}}
					</div>
					<div class="6u">
						{{form.treasurer}}
					</div>
				</div>
				<div class="row uniform">
					<div class="6u">
						{{form.grocer}}
					</div>
					<div class="6u">
						{{form.brewer}}
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<button type="submit"><i class="fa fa-save"></i> Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="fourth" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>Suivi de pintes</h2>
				</header>
				<div class="row uniform">
					<div class="12u">
						{{form.use_pinte_monitoring}}
						<label for="{{form.use_pinte_monitoring.id_for_label}}">Utiliser le suivi de pinte ?</label>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						{{form.lost_pintes_allowed}}
						<label for="{{form.lost_pintes_allowed.id_for_label}}">Nombre de pintes non rendues avant d'interdire la consommation (0 pour ne jamais l'interdire, nécessite le suivi de pinte actif)</label>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<button type="submit"><i class="fa fa-save"></i> Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="fifth" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>Documents</h2>
				</header>
				<div class="row uniform">
					<div class="12u">
						{{form.statutes}}
						<label for="{{form.statutes.id_for_label}}">Statuts</label>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						{{form.rules}}
						<label for="{{form.rules.id_for_label}}">Règlement intérieur</label>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						{{form.menu}}
						<label for="{{form.menu.id_for_label}}">Menu / Carte</label>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						{{form.alcohol_charter}}
						<label for="{{form.menu.id_for_label}}">Charte alcool</label>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<button type="submit"><i class="fa fa-save"></i> Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="sixth" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>Autre</h2>
				</header>
				<br>
				<h3>Boutons flottants</h3>
				<div class="row uniform">
					<div class="12u">
						{{form.floating_buttons}}
						<label for="{{form.floating_buttons.id_for_label}}">Utiliser les boutons de paiement flottants ?</label>
					</div>
				</div>
				<br>
				<h3>Déconnexion automatique</h3>
				<div class="row uniform">
					<div class="12u">
						{{form.automatic_logout_time}}
						<label for="{{form.automatic_logout_time.id_for_label}}">Temps (en minutes) au bout duquel l'utilisateur est déconnecté automatiquement (0 pour qu'il reste connecté)</label>
					</div>
				</div>
				<br>
				<h3>Texte de la page d'accueil</h3>
				<div class="row uniform">
					<div class="12u">
						{{form.home_text}}
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<button type="submit"><i class="fa fa-save"></i> Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
{% endblock %}
