{% extends "base.html" %}
{% block entete %}Gestion des moyens de paiement{% endblock %}
{% block navbar %}
<ul>
	<li><a href="#first">Liste des moyens de paiement</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="first" class="main">
	<header class="major">
		<h2>Liste des moyens de paiement</h2>
	</header>
	{% if perms.preferences.add_paymentmethod %}
	<a class="button" href="{% url 'preferences:addPaymentMethod' %}"><i class="fa fa-plus-square"></i> Créer un moyen de paiement</a><br><br>
	{% endif %}
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Actif ?</th>
					<th>Cotisations ?</th>
					<th>Rechargements ?</th>
					<th>Affecte le solde</th>
					<th>Icône</th>
					<th>Administration</th>
				</tr>
			</thead>
			<tbody>
				{% for pm in paymentMethods %}
				<tr>
					<td>{{ pm.name }} </td>
					<td><i class="fa fa-{{ pm.is_active | yesno:'check,times'}}"></i></td>
					<td><i class="fa fa-{{ pm.is_usable_in_cotisation | yesno:'check,times' }}"></i></td>
					<td><i class="fa fa-{{ pm.is_usable_in_reload | yesno:'check,times' }}"></i></td>
					<td><i class="fa fa-{{ pm.affect_balance | yesno:'check,times' }}"></i></td>
					<td><i class="fa fa-{{ pm.icon }}"></i></td>
					<td>{% if perms.preferences.change_paymentmethod %}<a class="button small" href="{% url 'preferences:editPaymentMethod' pm.pk %}"><i class="fa fa-pencil-alt"></i> Modifier</a> {% endif %}{% if perms.preferences.delete_paymentmethod %}<a class="button small" href="{% url 'preferences:deletePaymentMethod' pm.pk %}"><i class="fa fa-trash"></i> Supprimer</a>{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
