{% extends 'base.html' %}
{% block entete %}Réinitilisation du mot de passe{% endblock %}
{% block navbar %}
<ul>
	<li><a href="#first">Réinitialisation du mot de passe</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="first" class="main">
	<header class="major">
		<h2>Réinitialisation du mot de passe</h2>
		<p>Vous recevrez un lien pour réinitilisaser votre mot de passe sur votre adresse e-mail.</p>
	</header>
	<section>
		<form method="post">
			{% csrf_token %}
			{{ form }}
			<br>
			<button type="submit"><i class="fa fa-lock"></i> Réinitialiser</button>
		</form>
	</section>
</section>
{{form.media}}
{% endblock %}
