{% extends "base.html" %}
{%load static %}
{%block entete%}<h1>Classement</h1>{%endblock%}
{% block nav %}
<ul>
	<li><a href="#first">Dezo pas Dezo</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="intro" class="main">
	<div class="spotlight">
		<div class="content">
			<header class="major">
				<h2>Dezo pas dezo</h2>
			</header>
			<div class="row">
                <div class="12u$">
                    Dû à des problèmes techniques, cet onglet n'est actuellement pas disponible.
                </div>
			</div>
		</div>
	</div>
</section>
{%endblock%}