{% extends 'base.html' %}
{% block entete %}Gestion des produits{% endblock %}
{% block navbar%}
<ul>
	<li><a href="#first">Liste des produits</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="first" class="main">
	<header class="major">
		<h2>Liste des produits</h2>
	</header>
	{% if perms.gestion.add_product %}
	<a class="button" href="{% url 'gestion:addProduct' %}">Créer un produit</a><br><br>
	{% endif %}
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prix</th>
					<th>Stock (soute)</th>
					<th>Stock (bar)</th>
					<th>Code barre</th>
					<th>Catégorie</th>
					<th>Actif</th>
					<th>Degré</th>
					<th>Volume</th>
					<th>Administrer</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.amount}}</td>
					<td>{{ product.stockHold }}</td>
					<td>{{ product.stockBar }}</td>
					<td>{{ product.barcode }}</td>
					<td>{{ product.category }}</td>
					<td>{{ product.is_active | yesno:"Oui, Non"}}</td>
					<td>{{ product.deg }}</td>
					<td>{{ product.volume }} cl</td>
					<td><a href="{% url 'gestion:productProfile' product.pk %}" class="button small">Profil</a> {% if perms.gestion.change_product %}<a href="{% url 'gestion:switchActivate' product.pk %}" class="button small">{% if product.is_active %}Désa{% else %}A{% endif %}ctiver</a> <a href="{% url 'gestion:editProduct' product.pk %}" class="button small">Modifier</a>{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
