{% extends "base.html" %}
{% block entete %}Gestion des produits{% endblock %}
{% block navbar %}
<ul>
	<li><a href="#first">Général</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="first" class="main">
	<header class="major">
		<h2>Général</h2>
    </header>
    {% if perms.gestion.change_product %}<a href="{% url 'gestion:switchActivate' product.pk %}" class="button small">{% if product.is_active %}Désa{% else %}A{% endif %}ctiver</a> <a href="{% url 'gestion:editProduct' product.pk %}" class="button small">Modifier</a><br>{% endif %}
        <strong>Nom</strong> : {{ product.name }}<br>
        <strong>Prix de vente</strong> : {{ product.amount }}€<br>
        <strong>Stock en soute</strong> : {{ product.stockHold }}<br>
        <strong>Stock au bar</strong> : {{ product.stockBar }}<br>
        <strong>Code Barre</strong> : {{ product.barcode }}<br>
        <strong>Catégorie</strong> : {{ product.category }}<br>
        <strong>Actif</strong> : {{ product.is_active | yesno:"Oui, Non"}}<br>
        <strong>Dégré</strong> : {{ product.deg }}<br>
        <strong>Volume</strong> : {{ product.volume }}cl<br>
</section>
{% endblock %}
