{% extends 'base.html' %}
{% block entete %}Gestion des produits{% endblock %}
{% block navbar%}
<ul>
	<li><a href="#first">Produits</a></li>
	<li><a href="#second">Futs</a></li>
	<li><a href="#third">Menus</a></li>
	<li><a href="#fourth">Pintes</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="first" class="main">
	<header class="major">
		<h2>Produits</h2>
	</header>
	Actions possibles :
	<ul>
		{% if perms.gestion.add_product %}
		<li><a href="{% url 'gestion:addProduct' %}">Créer un produit</a></li>
		{% endif %}
		{% if perms.gestion.view_product %}
		<li><a href="{% url 'gestion:searchProduct' %}">Rechercher un produit</a></li>
		<li><a href="{% url 'gestion:productsList' %}">Lister tous les produits</a></li>
		{% endif %}
	</ul>
</section>
<section id="second" class="main">
	<header class="major">
		<h2>Futs</h2>
	</header>
	Actions possibles :
	<ul>
		{% if perms.gestion.add_keg %}
		<li><a href="{% url 'gestion:addKeg' %}">Créer un fut</a></li>
		{% endif %}
		{% if perms.gestion.open_keg %}
		<li><a href="{% url 'gestion:openKeg' %}">Percuter un fut</a></li>
		{% endif %}
		{% if perms.gestion.close_keg %}
		<li><a href="{% url 'gestion:closeKeg' %}">Fermer un fût</a></li>
		{% endif %}
		{% if perms.gestion.view_keg %}
		<li><a href="{% url 'gestion:kegsList' %}">Lister les futs</a></li>
		{% endif %}
	</ul>
</section>
<section id="third" class="main">
	<header class="major">
		<h2>Menus</h2>
	</header>
	Actions possibles :
	<ul>
		{% if perms.gestion.add_menu %}
		<li><a href="{% url 'gestion:addMenu' %}">Créer un menu</a></li>
		{% endif %}
		{% if perms.gestion.view_menu %}
		<li><a href="{% url 'gestion:searchMenu' %}">Rechercher un menu</a></li>
		<li><a href="{% url 'gestion:menusList' %}">Lister les menus</a></li>
		{% endif %}
	</ul>
</section>
<section id="fourth" class="main">
	<header class="major">
		<h2>Pintes</h2>
	</header>
	Actions possibles :
	<ul>
		{% if perms.gestion.add_pinte %}
		<li><a href="{% url 'gestion:addPintes' %}">Créer une ou plusieurs pintes</a></li>
		{% endif %}
		{% if perms.gestion.change_pinte %}
		<li><a href="{% url 'gestion:releasePintes' %}">Libérer des pintes</a></li>
		{% endif %}
		{% if perms.gestion.view_pinte %}
		<li><a href="{% url 'gestion:pintesList' %}">Lister les pintes</a></li>
		{% endif %}
	</ul>
</section>
{% endblock %}
