{% extends "base.html" %}
{% block entete %}Gestion des utilisateurs{% endblock %}
{% block navbar %}
<ul>
	<li><a href="#first">Liste des groupes de droit</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="first" class="main">
	<header class="major">
		<h2>Liste des groupes de droit</h2>
	</header>
	{% if perms.auth.add_group %}
	<a href="{% url 'users:createGroup' %}" class="button"><i class="fa fa-plus-square"></i> Ajouter un groupe de droit</a><br><br>
	{% endif %}
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Nombre de droits</th>
					<th>Nombre d'utilisateurs</th>
					<th>Administrer</th>
				</tr>
			</thead>
			<tbody>
				{% for group in groups %}
				<tr>
					<td>{{ group.name }}</td>
					<td>{{ group.permissions.count }}</td>
					<td>{{ group.user_set.count }}</td>
					<td><a href="{% url 'users:groupProfile' group.pk %}" class="button small"><i class="fa fa-eye"></i> Voir</a> {% if perms.auth.change_group %}<a href="{% url 'users:editGroup' group.pk %}" class="button small"><i class="fa fa-pencil-alt"></i> Éditer</a> {% endif %}{% if perms.auth.delete_group %}<a href="{% url 'users:deleteGroup' group.pk %}" class="button small"><i class="fa fa-trash"></i> Supprimer</a>{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
