{% extends "base.html" %}
{% block entete %}Gestion des utilisateurs{% endblock %}
{% block navbar %}
<ul>
	<li><a href="#first">Liste des utilisateurs</a></li>
</ul>
{% endblock %}
{% block content %}
<section id="first" class="main">
	<header class="major">
		<h2>Liste des utilisateurs</h2>
	</header>
	<a class="button" href="{% url 'users:createUser' %}">Créer un utilisateur</a><br><br>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Utilisateur</th>
					<th>Profil</th>
					{% if perms.auth.change_user %}
					<th>Activer / Désactiver</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user }}</td>
					<td><a class="button small" href="{% url 'users:profile' user.pk %}">Profil</a></td>
					{% if perms.auth.change_user %}
					<td><a class="button small" href="{% url 'users:switchActivateUser' user.pk %}">{{ user.is_active | yesno:"Désa,A"}}ctiver</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}