{% load vip %}
<section>
	<h2>À propos</h2>
	<p>L'association Coopé Technopôle Metz (CTM) est une association de droit local dont le siège social est établi à la résidence Edouard Branly. Son but est d'entretenir un lieu convivial sous la forme d'un bar associatif. Les membres actifs sont les coopemen (ou coopewomen).</p>
	<h2>Documents utiles</h2>
	<dl class="alt">
		<dt>Statuts</dt>
		<dd>{% autoescape off %}{% statutes %}{% endautoescape %}</dd>
		<dt>Règlement intérieur</dt>
		<dd>{% autoescape off %}{% rules %}{% endautoescape %}</dd>
		<dt>Carte</dt>
		<dd>{% autoescape off %}{% menu %}{% endautoescape %}</dd>
		<dt>Charte alcool</dt>
		<dd>{% autoescape off %}{% alcool_charter %}{% endautoescape %}</dd>
	</dl>
</section>
<section>
	<h2>Contacts</h2>
	<table>
		<tr>
			<td>Email</td>
			<td>coopemetz@gmail.com</td>
		</tr>
		<tr>
			<td>Président</td>
			<td>{% president %}</td>
		</tr>
		<tr>
			<td>Trésorier</td>
			<td>{% treasurer %}</td>
		</tr>
		<tr>
			<td>Secrétaire</td>
			<td>{% secretary %}</td>
		</tr>
		<tr>
			<td>Responsable Phœnix Technopôle Metz</td>
			<td>{% phoenix %}</td>
		</tr>
	</table>
	<ul class="icons">
		<li><a href="https://www.facebook.com/coopesmetz/" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
	</ul>
</section>
<p class="copyright">coope.rez v3.4.2 (release stable) &copy; 2018-2019 Yoann Pietri.</p>


