<span class="tabulation2">
	<i class="fa fa-home"></i> <a href="{% url 'homepage' %}">Accueil</a>
</span>
{% if request.user.is_authenticated %}
<span class="tabulation2">
	<i class="fa fa-user"></i> <a href="{% url 'users:profile' request.user.pk %}">Mon profil</a>
</span>
{% if perms.gestion.add_consumptionhistory or perms.gestion.add_refund or perms.gestion.add_reload %}
<span class="tabulation2">
	<i class="fa fa-cash-register"></i> <a href="{% url 'gestion:manage' %}">Transactions</a>
</span>
{% endif %}
{% if perms.auth.add_user or perms.auth.view_user or perms.auth.add_group or perms.auth.view_group or perms.users.add_school or perms.users.view_school %}
<span class="tabulation2">
	<i class="fa fa-users"></i> <a href="{% url 'users:index' %}">Gestion des clients</a>
</span>
{% endif %}
{% if perms.gestion.view_product or perms.gestion.add_product or perms.gestion.add_keg or perms.gestion.view_keg or perms.gestion.change_keg or perms.gestion.view_menu or perms.gestion.add_menu %}
<span class="tabulation2">
	<i class="fa fa-dolly-flatbed"></i> <a href="{% url 'gestion:productsIndex' %}">Gestion des produits</a>
</span>
{% endif %}
<span class="tabulation2">
	<br>
	<i class="fa fa-list-ol"></i> <a href="{% url 'gestion:ranking' %}">Classement</a>
</span>
{% if perms.preferences.change_generalpreferences %}
<span class="tabulation2">
	<i class="fa fa-tools"></i> <a href="{% url 'preferences:generalPreferences' %}">Admin</a>
</span>
{% endif %}
{% if request.user.is_staff %}
<span class="tabulation2">
	<i class="fa fa-business-time"></i> <a href="{% url 'gestion:gen_releve' %}">Comptabilité</a>
</span>
{% endif %}
{% if perms.preferences.view_cotisation %}
<span class="tabulation2">
	<i class="fa fa-calendar-check"></i> <a href="{% url 'preferences:cotisationsIndex' %}">Cotisations</a>
</span>
{% endif %}
{% if perms.preferences.view_cotisation %}
<span class="tabulation2">
	<i class="fa fa-comments-dollar"></i> <a href="{% url 'preferences:paymentMethodsIndex' %}">Moyens de paiement</a>
</span>
{% endif %}
<span class="tabulation2">
	<i class="fa fa-bed"></i> <a href="{% url 'users:logout' %}">Deconnexion</a>
</span>
{% else %}
<span class="tabulation2">
	<i class="fa fa-sign-in-alt"></i> <a href="{% url 'users:login' %}">Connexion</a>
</span>
{% endif %}
